#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul li {
  list-style-type: none;
  text-align: left;
  width: 320px;
}

ul li .UserNick {
  background-color: lightcoral;
  margin: 0 1em 0 0;
  padding: .2em;
}

ul li .MessageText {
  background-color: lightgray;
  padding: .2em;
}